$trueBlack: #000000;
$trueWhite: #FFFFFF;
$black: #222222;
$offWhite: #FFFEEE;
$yellow: #fdfad1;
$hiVisYellow: #f2fa02;
$hiVisYellow2: #FCFF3F;
$bananaYellow: #FFF369;
$warmYellow: #FDDE51;
$hiVisGreen: #BDF55A;
$hiVisGreen2: #85FF3F;
$gray: #d7d7d6;
